body {
  background-color: hsl(0, 0%, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#display {
  width: 100%;
  padding: 20px;
  height: 100px;
  font-size: 5rem;
  text-align: right;
  color: white;
  border: none;
  background-color: hsl(0, 0%, 20%);
}

#calculator {
  font-family: "Times New Roman", Times, serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

.operator-btn {
  background-color: chocolate;
}

.operator-btn:hover {
  background-color: rgb(214, 116, 47);
}

.operator-btn:active {
  background-color: rgb(209, 125, 64);
}

button {
  height: 100px;
  width: 100px;
  border: 0px;
  border-radius: 50px;
  display: inline-block;
  background-color: hsl(0, 0%, 40%);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 50%);
}

button:active {
  background-color: hsl(0, 0%, 60%);
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
